In [1]:
import pandas as pd

In [2]:
#Leemos el Dataset
df = pd.read_csv('bank-additional-full.csv',sep = ';')
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [3]:
df.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [4]:
# Dataframe sin la ultima columna
x=df.iloc[:, :-1].copy(deep=True)
x.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0

In [5]:
#Defino mi target. 
#Es una clasificacion binaria
y = df["y"].copy(deep=True)
y

0         no
1         no
2         no
3         no
4         no
        ...
41183    yes
41184     no
41185     no
41186    yes
41187     no
Name: y, Length: 41188, dtype: object

In [6]:
#Transformamos el dataset en datos numericos
df=pd.get_dummies(data=df, drop_first=True)
df

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success,y_yes
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,1,0,0,0,0,0,0,1,0,1
41184,46,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,1,0,0,0,0,0,0,1,0,0
41185,56,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,1,0,0,0,0,0,0,1,0,0
41186,44,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,1,0,0,0,0,0,0,1,0,1
41187,74,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,...,1,0,0,0,0,0,0,0,0,0

In [7]:
df.drop(columns='y_yes')
df.y_yes

0        0
1        0
2        0
3        0
4        0
        ..
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y_yes, Length: 41188, dtype: uint8

In [8]:
#Dividimos las variables independientes y la dependiente
X = df.loc[:,df.columns != 'y_yes']
y = df.loc[:,'y_yes']

In [9]:
X

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,0,0,0,1,0,0,0,1,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,0,0,0,1,0,0,0,1,0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,0,0,0,1,0,0,0,1,0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,0,0,0,1,0,0,0,1,0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,1,0,0,0,0,0,0,1,0
41184,46,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,1,0,0,0,0,0,0,1,0
41185,56,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,1,0,0,0,0,0,0,1,0
41186,44,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,1,0,0,0,0,0,0,1,0
41187,74,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,...,0,1,0,0,0,0,0,0,0,0

In [10]:
y

0        0
1        0
2        0
3        0
4        0
        ..
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y_yes, Length: 41188, dtype: uint8

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
#Divimos nuestro Dataset en Train y Test
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)
X_train

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
34608,32,396,1,999,1,-1.8,92.893,-46.2,1.266,5099.1,...,1,0,0,0,0,1,0,0,0,0
37882,31,271,2,999,0,-2.9,92.201,-31.4,0.821,5076.2,...,0,0,0,0,1,0,0,0,1,0
10418,31,750,2,999,0,1.4,94.465,-41.8,4.960,5228.1,...,0,0,0,0,1,0,0,0,1,0
40627,32,908,1,6,4,-1.1,94.199,-37.5,0.882,4963.6,...,0,0,0,1,1,0,0,0,0,1
3613,32,244,1,999,0,1.1,93.994,-36.4,4.859,5191.0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12340,53,53,2,999,0,1.4,93.918,-42.7,4.959,5228.1,...,0,0,0,0,0,0,0,0,1,0
25810,32,76,1,999,0,-0.1,93.200,-42.0,4.120,5195.8,...,0,1,0,0,0,0,0,1,1,0
37449,37,243,1,999,0,-2.9,92.201,-31.4,0.879,5076.2,...,0,0,0,0,0,0,0,1,1,0
5492,51,200,2,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,0,0,0,1,0,0,0,1,0
4175,27,110,2,999,0,1.1,93.994,-36.4,4.858,5191.0,...,1,0,0,0,1,0,0,0,1,0

In [13]:
X_test

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
22893,40,296,4,999,0,1.4,93.444,-36.1,4.965,5228.1,...,0,0,0,0,1,0,0,0,1,0
1457,51,102,2,999,0,1.1,93.994,-36.4,4.855,5191.0,...,1,0,0,0,0,1,0,0,1,0
8113,41,548,2,999,0,1.4,94.465,-41.8,4.865,5228.1,...,0,0,0,0,1,0,0,0,1,0
37151,27,106,1,999,0,-2.9,92.201,-31.4,0.884,5076.2,...,0,0,0,0,0,0,0,1,1,0
24445,42,124,1,999,1,-0.1,93.200,-42.0,4.191,5195.8,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16781,55,58,2,999,0,1.4,93.918,-42.7,4.962,5228.1,...,0,0,0,0,0,1,0,0,1,0
4644,39,174,1,999,0,1.1,93.994,-36.4,4.858,5191.0,...,1,0,0,0,0,0,0,1,1,0
23009,36,23,14,999,0,1.4,93.444,-36.1,4.965,5228.1,...,0,0,0,0,0,0,1,0,1,0
19585,33,259,2,999,0,1.4,93.444,-36.1,4.968,5228.1,...,0,0,0,0,0,1,0,0,1,0
36508,33,90,1,999,0,-2.9,92.963,-40.8,1.260,5076.2,...,0,0,0,0,0,0,0,1,1,0

In [14]:
y_train

34608    0
37882    1
10418    1
40627    1
3613     0
        ..
12340    0
25810    0
37449    0
5492     0
4175     0
Name: y_yes, Length: 30891, dtype: uint8

In [15]:
y_test

22893    0
1457     0
8113     0
37151    0
24445    0
        ..
16781    0
4644     0
23009    0
19585    0
36508    0
Name: y_yes, Length: 10297, dtype: uint8

In [16]:
from sklearn.tree import DecisionTreeClassifier

In [17]:
#Instanciamos el Modelo
model=DecisionTreeClassifier()

In [18]:
model

DecisionTreeClassifier()

In [19]:
#Entremos el Modelo
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [20]:
y_pred=model.predict(X_test)

In [21]:
y_test

22893    0
1457     0
8113     0
37151    0
24445    0
        ..
16781    0
4644     0
23009    0
19585    0
36508    0
Name: y_yes, Length: 10297, dtype: uint8

In [22]:
from sklearn.metrics import confusion_matrix

In [23]:
#Calculamos la Matriz de confusion
confusion=confusion_matrix(y_test,y_pred)

In [24]:
confusion

array([[8565,  576],
       [ 558,  598]], dtype=int64)

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
#Calculamos el score de nuestro Modelo
acc=accuracy_score(y_test,y_pred)

In [27]:
acc

0.8898708361658736

<div class="alert alert-block alert-success">
<b> Vemos que el modelo tiene una precision de 88.97% </b> 
</div>